<%= erb :homepagelook %>







<h1 id="spacetum" >Space</h1>


<a class="homebtn1" href="/users/new">Create a User</a><br />
<a class="homebtn1" href="/login">Login</a><br>
<a class="homebtn1" href="/posts/?">All Posts</a>
</div>
