<body id="spacepica">
<div class="allthings">
<div class="homepage">

<h1 class="spacetum" >Space</h1>


<div class="homebuttons">

  <a class="btn outline homebtns" href="/users/new">Create a User</a>
  <br>
  <a class="btn outline homebtns" href="/login">Login</a>
  <br>
  <a class="btn outline homebtns" href="/posts/?">All Posts</a>

</div>
</div>
</div>
</body>
