<div class="banner">

  <div class="home-container">

    <h1 class="home-header" >SPACE</h1>
    <!-- Options start below -->
    <a class="home-btn" href="/users/new">Signup <img src="../images/planet1.png"id="planet1"></img></a>

    <a class="home-btn" href="/login">Login</a>

    <a class="home-btn" href="/posts/?">Dashboard</a>

  </div>

</div>


<script type="text/javascript">
  $('.home-btn').circleType({radius:135});
</script>
