<div class="banner">

  <div class="home-container">

    <h1 class="home-header" >SPACE</h1>
    <!-- Options start below -->
    <a class="home-btn" href="/users/new">Signup</a>

    <a class="home-btn" href="/login">Login</a>

    <a class="home-btn" href="/posts/?">Dashboard</a>

  </div>

</div>
