/* HOME.ERB   */

.homepage {
  background-image:url('https://wallpaperplay.com/walls/full/e/d/f/219506.jpg');
  background-size: cover;
  height: 100%;
  width: 100%;
}



.spacetum {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  margin-top: 10%;
  font-family: 'Cinzel Decorative', cursive;
  color: #C4C4C9;
  text-shadow: 1px 0px 11px rgba(228,208,208,0.6);
}


.homebuttons {
  display: grid;
  justify-content: center;
  vertical-align: middle;
  width: auto;
}



/* NAVBAR */
.container-header {
  width: 100%;
  margin: 0;
  height: 60px;
  margin-right: 10%;
  position: fixed;
  background: #212132;
  padding-bottom: 30px;
  margin-bottom: 25px;
}

.row-header {
  float: right;
}
.navbtn {
  padding: 10px;
  padding-bottom: 35px;
  border: 1px dashed #C4C4C9;
  color: white;

}

.navbtn:hover {
  background: #626271;
}

#space {
  font-family: 'Cinzel Decorative', cursive;
  text-shadow: 1px 0px 11px rgba(228,208,208,0.6);
  float:left;
}
#space1 {
  color: white;
}





/* SIGN-UP */

.container-signup {
  padding-top: 5%;
}

#signuplog {
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0px 2px 3px #9D9DA6;
  padding-top: 5%
}

.signupform {
  display: grid;
  justify-content: center;
  align-items: center;
}

/* LOG-IN */

.container-login {

}

#headinglogin {
  display: grid;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
  text-shadow: 0px 2px 3px #9D9DA6;
}

#loginform {
  display: grid;
  justify-content: center;
  align-items: center;

}

/* PROFILE */

.container-profile {
  border: 1px solid white;
}

.container-profile1 {
  display: grid;
  margin-top: 5%;
  float: right;
  border: 1px solid #626271;
  padding: 10px;
}

.container-profileposts{

}

#deleteprofilepara {
display: grid;
justify-content: center;
}

#deleteprofile {
  display: grid;
  justify-content: center;
  padding-bottom: 2%;
}
