@import url('https://fonts.googleapis.com/css?family=Poppins');

/* CUSTOM FONT FOR FRONT-PAGE */
@font-face {
  font-family: Space-age;
  src: url('space age.ttf');
  font-weight: bold;
}

/* MAIN SCREEN */

body {
  margin: 0px;
  background-color: #fff;
}

/*PARALLAX EFFECT FOR BACKGROUND FOR FRONT-PAGE */

.banner {
  background: #111;
  background-image: url("../images/stars.png"), url("../images/stars.png"), url("../images/stars.png");
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0px auto;
  background-position: 0px 0px, 0px 0px, 0px 0px;
	background-repeat: repeat repeat repeat;
	animation: animate-background 50s linear infinite;
}

@keyframes animate-background {
	from { background-position: 0px 0px, 0px 0px, 0px 0px;  }
	to { background-position: -100px 0px, -3000px 0px, -10000px 0px; }
}

.home-header {
  font-family: 'Space-age';
  font-size: 8em;
  text-decoration: underline;
}

.home-container {
  color: whitesmoke;
  text-align: center;
  padding-top: 10%;
}

.home-container a {
  display: block;
  font-family: 'Space-age';
  font-size: 2em;
  text-align: center;
  padding: 10px;

}

.home-container a:link {
  color: whitesmoke;
}

.home-container a:active {
  color: whitesmoke;
}

.home-container a:visited {
  color: whitesmoke;
}

.home-container a:hover {
  text-decoration: overline;
  text-shadow: -1px 0 rgb(56, 56, 56), 0 1px , 1px 0 , 0 -1px rgb(56, 56, 56);
  transition: all .2s ease-in-out;
  font-size: 2.5em;
  color: #3BA3E6;
}

/* SIGN-UP PAGE */

#signup-body {
  background: url("../images/blue2.png") !important;
}

#signup-header {
  font-family: 'Space-age';
  font-size: 2em;
  border-bottom: 3px solid black;

}

.container-signup {
  background-color:  rgb(172, 172, 172) !important;
  border: 5px solid white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}

.signup-form {
  padding-left: 30px;
  padding-right: 30px;
  vertical-align: middle;
  text-align: center;
}

input {
  font-family: 'Poppins', sans-serif;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=email], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=date], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  font-family: 'Space-age';
  width: 100%;
  background-color: #1985A1;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.3em;
}

input[type=submit]:hover {
  text-decoration: underline;
}

div.container-signup {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}



/* NAV-BAR */

.navbar {
  font-size: 18px;
  background-image: linear-gradient(260deg, #4C5C68 0%, #1985A1 100%);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links,
.logo {
  text-decoration: none;
  color: whitesmoke;
  font-family: "Space-age";
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.logo {
  font-family: "Space-age";
  color: whitesmoke;
  font-size: 2em;
  margin-top: 10px;
  margin-left: 20px;
  text-decoration: none !important;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

.active {
  display: block;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }


  .logo:hover,
  .nav-links:hover {
    text-decoration: overline;
    color: rgba(255, 255, 255, 1);
  }
}

  #log-out-link {
    color: white;
    text-decoration: none;
  }

  /* USER PROFILE PAGE */

  .profile-page {
    font-family: "Space-age", sans-serif;
  }

  #profile-hone {
    border-bottom: 1px solid black;
  }

  .profile-information {
   display: grid;
   grid-template-rows: 100px;
   padding: 30px;
   position: absolute;
   border: 1px solid rgb(108, 108, 108);
   margin-left: 30px;
   margin-top: 30px;
  }

  .profile-posts {
  display: grid;
  grid-row: 1fr 1fr 1fr;
  padding: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
  }

  /* USER FEED */

  .container-feedposts {
    display: grid;
    grid-row: 1fr 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
  }


  /* POSTS */

  .entertitle {
    width: 100%;
  }


   #post-text-area {
    width: 100%;
   }


/* DASHBOARD */
