

<div class="container-login">

<h1 id="headinglogin"> Please log in</h1>

<form id="loginform" action="/login" method="post">
  Email:
  <input type="email" name="email"><br />
  Password:
  <input type="password" name="password"><br />

  <br>
  <input type="submit" value="login" />


</form>
</div>
