<body id="signup-body">

<div class="container-signup">

<h1 id="signup-header">Please log in</h1>

<form id="signup-form" action="/login" method="post">

  <input type="email" name="email" placeholder="Email"><br />
  <input type="password" name="password" placeholder="Password"><br />

  <br>
  <input type="submit" value="login" />


</form>
</div>
</body>
