<h1>Please sign-up below:</h1>



<form action="/users/new" method="post">

  <input type="firstname" name="firstname" placeholder="Enter first name">
  <br />
  <input type="lastname" name="lastname" placeholder="Enter last name">
  <br />
  <input type="email" name="email" placeholder="Enter valid email">
  <br />
  <input type="password" name="password" placeholder="Enter strong password">
  <br />
  <!-- <input type="date" name="birthday" value="2018-12-31"> -->
  <input type="date" id="bday" name="bday">


<p>
  <input type="submit" name="submit">
</p>

</form>
