<div class="container-signup">

<h1 id="signuplog">Sign-up</h1>

<form class="signupform" action="/users/new" method="post">

  <input type="text" name="first_name" placeholder="Enter first name">
  <br>
  <input type="text" name="last_name" placeholder="Enter last name">
  <br>
  <input type="email" name="email" placeholder="Enter valid email">
  <br>
  <input type="password" name="password" placeholder="Enter strong password">
  <br>
  <input type="date" name="birthday">
  <br>
  <input type="submit" name="Sign-up">

</form>
</div>
