<body id="signup-body">

<div class="container-signup">

<form class="signup-form" action="/users/new" method="post">
  <h1 id="signup-header">Sign-up</h1>

  <input type="text" name="first_name" placeholder="Enter first name">

  <input type="text" name="last_name" placeholder="Enter last name">

  <input type="email" name="email" placeholder="Enter valid email">

  <input type="password" name="password" placeholder="Enter strong password">

  <input type="date" name="birthday">

  <input type="submit" name="Sign-up">

</form>
</div>

</body>
