<body id="signup-body">

<div class="container-signup">

  <h1 id="header-newpost">New Post</h1>



  <form id="newpost-forma" action="/posts/new" method="post">
    <input class="entertitle" type="title" name="title" placeholder="Enter post title"><br />
    <br>
    <textarea id="post-text-area"name="content" rows="20" placeholder="Enter post content here"></textarea>
    <input type="submit" name="submit">

  </form>
</div>
</body>
