<h1>Please sign-up below:</h1>



<form action="/posts/new" method="post">

  <input type="title" name="title" placeholder="Enter post title"><br />
  <textarea name="content" rows="20"></textarea>


<p>
  <input type="submit" name="submit">
</p>

</form>
